.Navbar{
    font-family: 'Julius Sans One', sans-serif;
    height: 3rem;
    background-color: rgb(27,27,27);
    width: 96vw;   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid yellow;
    /* border: 2px solid green; */
}

/* .logo is an h1 and i gave it a dimensions twhich acts as a container to shift the words within the h1 */
.Navbar .logo{
    /* border: 2px solid salmon; */
    color: #fff600;
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
}
/* will not show if screen is expanded when sidemenu clicked, nav-list-mobile will show instead*/
.Navbar .nav-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    height: 100%;
}
.Navbar .nav-list a{
    
    font-size: 1rem;
    font-weight: 0;
    color: yellow ;
    text-decoration: none;
    cursor: pointer;
    
}
.nav-list li{
    list-style: none;
}
/* when screen is expanded while in side menu */
.nav-list-mobile {
    display: none;
}
.burger{
    visibility: hidden;
    height: 1rem;
    width: 1rem;
    /* border: 2px solid white; */
}

@media all and (max-width: 520px){

    .nav-list-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('/public/pics/bg.jpg');
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        /* consequential */
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
    }
    .nav-list-mobile li {
        display:inline-block;
        border: 2px solid yellow;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 12px yellow,
        0 0 20px black;
        margin: 1rem 0;
        cursor: pointer;
    }
    .nav-list-mobile a{
        font-family: 'Itim', cursive;
        font-size: 1rem;
        text-decoration: none;
        color: yellow;
    }
    /* nav bar was causing horizontal scrollbar font-size fixd it */
    .Navbar .nav-list a{
        font-size: .1rem;       
    }
    .but{
        height: 2rem;
        width: 2rem;
        border: 1.5px solid yellow;
        box-shadow: 0 0 10px yellow;
        border-radius: 50%;
    }
    .but-mobile{
        height: 2rem;
        width: 2rem;
        border: .2px solid yellow;
        box-shadow: 0 0 7px yellow;
        border-radius: 50%;
    }

    .but-mobile .orb{
        color: white;
        font-family: 'Rubik Moonrocks', cursive;
        font-size: 1px;
        display: block;
        height: .25rem;
        width: .25rem;  
        background-color: red;
        border-radius: 50%;
        animation: shake 12s ;
        box-shadow: 0 0 10px yellow,
        0 0 20px yellow,
        0 0 40px yellow,
        0 0 60px yellow,
        0 0 100px yellow;
      }
    /* hides vertical nav menu when mobile */
    .Navbar .nav-list{
        visibility: hidden;
    }

    .Navbar .logo{
        visibility: hidden;
    }
    .burger{
        visibility: visible;
        height: 2%; 
        display: none; 
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10%;
        height: 100%;
        position: absolute;
        z-index: 1000; 
        border: 2px solid green;
    }
}

@keyframes shake {
    100%{
        transform: translate(1rem, .5rem);
        background-color: blue;
    }
    95%{
        transform: translate(9px, 20px);
    }
    85%{
        transform: translate(-3px, 40px);
        transform: scale(2);
    }
    75%{
        transform: translate(0px, 22px);
    }
    65%{
        transform: translate(15px, 5px) scale(7);
    }
    55%{
        transform: translate(23px, 10px);
    }
    47%{
        transform: translate(20px, 40px);
    }
    45%{
        transform: translate(-10px, 20px);
    }
    38%{
        transform: translate(2px, 27px);
    }
    37%{
        transform: translate(5px, 11px);
    }
    35%{
        transform: translate(30px, 100px);
    }
    20%{
        transform: translate(-33px, 100px);
    }
    15%{
        transform: translate(-133px, 100px) scale(55) rotate(360deg);
        background-color: red;
    }
    10%{
        transform: translate(4px, 10px) scale(0);
        background-color: blue;
    }
    0%{
        transform: translate(0px, 30px) scale(4);
    }
    
}
